@import 'styles/globals.scss';

.teamContainer {
  background-color: $base;
  min-height: 100%;
  & > .searchBox {
    background-color: $white;

    border-bottom: 2px solid $gray_7;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-sizing: border-box;
    & > .icon {
      height: 24px;
    }
    & > .inputBox {
      width: 40%;
      display: flex;
      align-items: center;
    }
    & > .addTeamBox {
      width: 85px;
      height: 30px;
      position: relative;
      & > button {
        position: absolute;
      }
    }
  }
  & > .myList {
    margin: 15px;
    border-bottom: 1px solid $gray_7;
    & > .title {
      font-size: 18px;
      font-weight: 800;
      color: $gray_2;
      margin: 10px 0;
      display: flex;
      align-items: center;

      & > span {
        height: 24px;
        margin-left: 10px;
        cursor: pointer;
      }
    }
    & > .cardList {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      row-gap: 20px;
      column-gap: 20px;
      padding-bottom: 20px;
    }
  }
  & > .searchList {
    margin: 15px;
    padding-bottom: 20px;
    & > .title {
      font-size: 18px;
      font-weight: 800;
      color: $gray_2;
      margin: 10px 0;
    }
    & > .cardList {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      column-gap: 20px;
      row-gap: 20px;
    }
  }
}
