@import 'styles/globals.scss';

.channelListContainer {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-width: 300px;
  min-height: 100vh;
  padding: 10px;
  // box-shadow: 2px 2px 8px 3px rgba(124, 124, 124, 0.2);
  z-index: 4;
  border-right: 3px solid $gray_9;
  .channelList {
    height: 100%;
  }
}
