@import 'styles/globals.scss';

.channelListContainer {
  display: flex;
  flex-direction: column;
  // box-shadow: 2px 2px 8px 3px rgba(124, 124, 124, 0.2);
  z-index: 4;
  border-right: 3px solid $gray_9;
  .roomList {
    // background-color: $gray_7;
    border-bottom: 3px solid $gray_9;

    height: 53px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    & > .teamSelect {
      padding: 0 15px;
      height: 50px;
    }
    & > .settingButton {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
  }
  .channelList {
    height: calc(100vh - 50px);
  }
}
