@import 'styles/globals.scss';

.channelContainer {
  display: flex;
  flex-direction: column;
  padding: 3px 10px;
  box-sizing: border-box;
  min-width: 200px;
  & > .titleBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > .title {
      height: 35px;
      font-size: 15px;
      font-weight: 500;
      color: $gray_3;
      line-height: 24px;
      display: flex;
      align-items: center;
      cursor: pointer;
      flex: 1;
      & > svg > path {
        fill: $gray_3;
      }
      & > p {
        margin-left: 2px;
      }
    }
  }
  & > .channelItems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2px 0;
    & > .channelItem {
      font-size: 13px;
      font-weight: 400;
      color: $gray_3;
      line-height: 26px;
      padding: 3px 10px;
      box-sizing: border-box;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      cursor: pointer;
      &:hover {
        background-color: $gray_9;
        .editButton {
          opacity: 1;
          position: relative;
          .button {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .chanName {
        display: flex;
        align-items: center;
        & > span {
          font-weight: 600;
          font-size: 16px;
        }
      }
      & > .editButton {
        opacity: 0;
        position: relative;

        .button {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 24px;
          width: 24px;
          border-radius: 50%;
          // background-color: $gray_7;
        }
      }
    }
  }
}

.roomList {
  max-width: 40px;
  min-width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  border-right: 1px solid $gray_7;

  .teamAvatar {
    margin-bottom: 10px;
    cursor: pointer;

    &.addTeam {
      transition: background-color 250ms ease;
      background-color: $blue_1;

      &:hover {
        background-color: $blue_3;
      }
    }
  }
}