$gray_1: #212121;
$gray_2: #1b283f;
$gray_3: #464e5f;
$gray_4: #80808f;
$gray_5: #b5b5c3;
$gray_6: #d6d6e0;
$gray_7: #e5eaee;
$gray_8: #ecf0f3;
$gray_9: #f3f6f9;
$gray_10: #c4c4c4;

$red_1: #f64e60;
$red_2: #ffe2e5;
$red_3: #ee2d41;

$orange_1: #ef6327;
$orange_2: #fee7dd;
$orange_3: #e05417;
$orange_4: #aa7762;
$orange_5: #d2c9c5;
$orange_6: #98654f;

$green_1: #1bc5bd;
$green_2: #c9f7f5;
$green_3: #0bb7af;
$green_4: #0bb783;
$green_5: #d7f9ef;
$green_6: #04aa77;
$green_7: #4ab58e;
$green_8: #dff1eb;
$green_9: #2ba579;

$blue_1: #6993ff;
$blue_2: #e1e9ff;
$blue_3: #4a7dff;
$blue_4: #5f5cf1;
$blue_5: #f0efff;
$blue_6: #3f3ce1;

$purple_1: #8950fc;
$purple_2: #eee5ff;
$purple_3: #7337ee;

$maroon_1: #663259;
$maroon_2: #f4e1f0;
$maroon_3: #58244b;

$yellow_1: #ffa800;
$yellow_2: #fff4de;
$yellow_3: #ee9d01;

$white: #ffffff;
$base: #f9fafc;

$primary_1: #2e2232;
$primary_2: #64485b;
$primary_3: #75ae94;
$primary_4: #b6c376;
$primary_5: #fbf271;
