@import '../../styles/globals.scss';

.loginContainer {
  width: 40%;
  height: 50%;
  min-width: 300px;
  border-radius: 6px;
  background-color: $gray_8;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 14px;

  .title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    & > * {
      width: 200px;
      height: 50px;
    }
  }
  .button {
    margin-top: 15px;
  }
}
