@import 'styles/globals.scss';

.channelRoomContainer {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  .targetInfo {
    padding: 15px;
    background-color: $blue_2;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    & > p {
      font-size: 14px;
      font-weight: 700;
      color: $gray_2;
      line-height: 20px;
      margin-left: 5px;
    }
  }
  .messageBox {
    display: flex;
    align-items: flex-start;
    height: calc(100vh - 50px - 108px);
    flex-direction: column;
    row-gap: 15px;
    margin: 10px 0;
    margin-left: 15px;
    overflow-y: auto;
    .empty {
      font-size: 20px;
      font-weight: 500;
      color: $gray_2;
    }
    .divideDate {
      width: 100%;
      display: flex;
      align-items: center;
      p {
        font-size: 14px;
        color: $gray_4;
        width: 100px;
        text-align: center;
      }
      hr {
        height: 1px;
        border: none;
        background-color: $gray_5;
        width: calc(50% - 65px);
      }
    }
  }
  .inputBox {
    background-color: $white;
    box-sizing: border-box;
    border: 1px solid $gray_7;
    border-radius: 6px;
    padding: 10px;
    margin: 15px;
    margin-top: 0;
    & > .iconButton * {
      width: 20px;
      height: 20px;
      font-size: 10px;
      background-color: red;
    }
  }
}
